.cover__link {
  text-decoration: none;
  width: 100%;
  max-height: 62.5vw;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.cover__link::before {
  content: '';
  position: absolute;
}
