.page {
  min-width: 320px;
  max-width: 1280px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #2A2C2F;
  box-sizing: border-box;
}

@media screen and (max-width: 321px) {
  .page {
    width: 320px;
  }
}
