.photo-grid {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 1184px;
  height: 671px;
  margin: 92px 48px 0 48px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  grid-gap: 16px;
=======
=======
>>>>>>> final
  display: grid;
  gap: 16px;

  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  margin: 0 auto;
  margin-bottom: 92px;

  width: calc(100% - 48px*2);
}

@media screen and (max-width: 426px) {
  .photo-grid {
    gap: 12px;
    width: 284px;
    margin: 0 16px 64px 16px;
  }
}

@media screen and (min-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 16px;
    width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    width: 932px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 14px;
    margin-bottom: 92px;
    width: 1184px;
  }
<<<<<<< HEAD
>>>>>>> final
=======
>>>>>>> final
}
