.places {
  max-width: 984px;
  padding: 0 24px;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .places {
    margin-left: 12.5vw; /* Понимаю, что решение неверное. Честно не придумал, как удачнее сделать. */
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .places {
    max-width: 768px;
  }
}

@media screen and (min-width: 1023px) {
  .places {
    padding: 0 48px;
  }
}


