.cover__subtitle {
  margin: 32px 0 0 0;
  width: 360px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  max-width: calc(100% - 16px*2);
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

/* 2021-11-21T00:45:00+0000 */
