.photo-grid__item {
  /* width: 284px;
  height: 213px; */
  width: 100%;
  object-fit: cover;
}
/* object-fit: cover; */

@media screen and (max-width: 426px) {
  .photo-grid__item  {
    /* max-width: 288px;
    height: 216px; */
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 767px) {
  .photo-grid__item  {
    /* max-width: 352px;
    height: 264px; */
    width: 100%;
    object-fit: cover;
    gap: 16px;
  }
}

@media screen and (min-width: 1023px) {
  .photo-grid__item  {
    /* max-width: 300px;
    height: 225px; */
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__item  {
    max-width: 284px;
    /* height: 213px; */
    width: 100%;
    object-fit: cover;
  }
}





