.content {
<<<<<<< HEAD
<<<<<<< HEAD

}
=======
=======
>>>>>>> final
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 426px) {
  .content {
    width: 100vw;
  }
}

<<<<<<< HEAD
>>>>>>> final
=======
>>>>>>> final
