.lead__title {
  /* margin: 56px 280px 0 280px; */
  margin: 0 auto 32px;
  max-width: 720px;
  width: calc(100% - 16px*2);
  /* min-height: 200px; */
  /* left: 280px;
  top: 136px; */

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 426px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin-left: 280px;
  }
}
