.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 18px;
  list-style: none;

}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    justify-content: space-between;
  }
}

/* 2021-11-21T00:45:00+0000 */
