.place__paragraph {
  margin: 0;
  width: 484px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (max-width: 426px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px 0 16px;
    max-width: calc(100vw - (16px*2));
    width: 320px;
  }
  .place__paragraph:first-child {
    margin-bottom: 25px;

  }
}





