.lead__image {
  margin: 64px 148px 0 0;
  /* margin: 0 auto; */
  /* padding-top: 64px; */
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 426px) {
  .lead__image {
    width: 100%;
    height: 100%;
    margin: 40px 0 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image {
    margin: 56px 0 0 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1023px) {
  .lead__image {
    margin: 56px 0 0 0;
    width: 100%;
    height: 100%;
  }
}

/* @media screen and (max-width: 1023px) {
  .lead__image {
    margin: 56px 0 0 0;
    width: 928px;
    height: 580px;
  }
} */

/* @media screen and (min-width: 1024px) {
  .lead__image {
    margin: 56px 48px 0 48px;
    width: 928px;
    height: 580px;
  }
} */

@media screen and (min-width: 1025px) {
  .lead__image {
    margin: 56px 0 0 0;
    width: 984px;
    height: 615px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin: 56px 0 0 148px;
    /* width: 984px;
    height: 615px; */
  }
}


