.intro__text {
  margin: 0;
<<<<<<< HEAD
<<<<<<< HEAD
  width: 690px;
  height: 208px;
=======
   /*width: 690px; */
>>>>>>> final
=======
   /*width: 690px; */
>>>>>>> final

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
<<<<<<< HEAD
<<<<<<< HEAD
  line-height: 163%;
  /* or 26px */
  color: #FFFFFF;
}
=======
=======
>>>>>>> final
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (max-width: 426px) {
  .intro__text {
    margin-bottom: 34px;
    max-width: 405px;
  }
}

<<<<<<< HEAD
>>>>>>> final
=======
>>>>>>> final
