.cover {
  position: relative;
  margin: 92px 48px 0;
  width: 1184px;
  height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  z-index: 0;
  transition: 1s;
}

.cover::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  background-color: #2a2c2f;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -1;
  transition-property: opacity;
  transition: 1s;
}

.cover:hover::after {
  cursor: pointer;
  opacity: .8;
  transition-property: opacity;
  transition: .5s;
}

@media screen and (max-width: 321px) {
  .cover {
    margin: 0;
    width: 320px;
    height: 200px;
  }
}


