.cover__overlay {
  cursor: pointer;
  width: 100%;
  min-height: 62.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}

/* 2021-11-21T00:45:00+0000 */
