.lead__caption {
  margin: 8px 0 0 0;
  width: 160px; /*Если поставить 158px (как на макете), фраза переносится на 2 строку. */
  height: 14px;
  text-transform: uppercase;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
}

@media screen and (max-width: 426px) {
  .lead__caption {
    margin: 0 0 0 18px;

  }
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    margin-left: 148px;
  }
}


