.cover__title {
  margin: 0 312px ;
  padding-top: 245px;
  width: 560px;
  height: 152px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */

  text-align: center;

  color: #FFFFFF;
}

@media screen and (max-width: 321px) {
  .cover__title {
    margin: 0 16px 16px;
    padding-top: 33px;
    width: 288px;
    height: 70px;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }
}
