.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> final

@media screen and (max-width: 426px) {
  .place__website {
    max-width: 100vw;
    margin: 0 16px;
  }
}

@media screen and (min-width: 767px) {
  .place__website {
    max-width: 100vw;
    /* margin: 0 16px; */
  }
}
<<<<<<< HEAD
>>>>>>> final
=======
>>>>>>> final
